# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
billy-ai-venv-py311/
.env
.venv/
env/
venv/

# Node/Web
node_modules/
dist/
build/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Xcode project
/BillyAI/
BillyAI/DerivedData/
BillyAI/Build/
BillyAI/*.xcworkspace
BillyAI/*.xcodeproj/project.xcworkspace/
BillyAI/*.xcodeproj/xcuserdata/
BillyAI/*.xcodeproj/*.xcuserstate
BillyAI/*.xcodeproj/*.pbxuser
